<f:layout name="Default"/>
<f:section name="Main">

<div class="row">
	<div class ="col-md-12" role="main">
	<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUID:'{data.uid}'; colPos:'3O'}" />
	</div>
</div>
<div class="row">
	<div class="col-md-6">
	<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUID:'{data.uid}'; colPos:'31'}" />
	</div>
	<div class="col-md-6">
	<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUID:'{data.uid}'; colPos:'32'}" />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUID:'{data.uid}'; colPos:'33'}" />
	</div>
</div>
<div class="row">
	<div class="col-md-4">
	<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUID:'{data.uid}'; colPos:'34'}" />
	</div>
	<div class="col-md-8">
	<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUID:'{data.uid}'; colPos:'35'}" />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUID:'{data.uid}'; colPos:'36'}" />
	</div>
</div>
</f:section>