<div class="navbar-header">
	<f:if condition="{f:cObject(typoscriptObjectPath:'lib.navigation.main')}">
		<button type="button" class="navbar-toggle inavbar-toogle-menu" data-toggle="collapse" data-target="#main-nav">
		<span class="sr-only">Toggle Navigation</span>
		<i class="fa fa-bars"></i>
	</button>
	</f:if>
	<f:if condition="{logoFile}">
		<f:then>
			<f:link.page pageUid="{rootPage}" class="navbar-brand navbar-logo navbar-logo-bigger">
				<img src="{f:uri.image(src: logoFile)}" alt="{siteTitle}" />
			</f:link.page>
		</f:then>
		<f:else>
			<f:link.page pageUid="{rootPage}" class="navbar-brand">{siteTitle}</f:link.page>
		</f:else>
	</f:if>
</div>
