<div class="wrapper" {f:if(condition:'themeNavigationbar >= 1', then:' style="padding-top: 97px;"')}>
	<f:link.page class="sr-only sr-only-focusable" section="content">
		{f:translate(key: 'skiptomaincontent', extensionName: 'bootstrap_package')}
	</f:link.page>
	<nav class="navbar navbar-default{f:if(condition:themeNavigationbar, then:' navbar-fixed-top')}{f:if(condition:themeNavigationbar == 2, then:' auto-hiding-initialized')}{f:if(condition:themeNavigationbar == 3, then:' shrinkable')}" role="navigation">
		<div class="container">
			<f:render partial="Navigation/Main" arguments={_all}"/>
		</div>
	</nav>
	<f:if condition="{showHeader}">
		<f:cObject typoscriptObjectPath="lib.navigation.breadcrumb"/>
	</f:if>
	<!--TYPO3SEARCH_begin-->
	<div id="content" class="main-section">
		<f:render section="Main"/>
		<f:if condition="{onePage}">
			<f:cObject typoscriptObjectPath="lib.content.onepage"/>
		</f:if>
	</div>
	<!--TYPO3SEARCH_end-->
</div>
